.project {
    color: darkblue;
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
}

.return {
    color: darkred;
    font-family:'Times New Roman', Times, serif;
    font-size: 180%;
}