p {
    color:darkblue;
    font-family: arial;
    font-size: 150%;
}

a {
    color: darkred;
    font-family:'Times New Roman', Times, serif;
    font-size: 180%;
}

.project {
    color: darkgreen;
    font-family:'Times New Roman', Times, serif;
    font-size: 150%;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

div {
    background: lightyellow;
    padding: 20px;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
  float: left;
  border-right: 5px solid white;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}
  
.active {
  background-color: #04AA6D;
}
  